

#main-wrapper{
	width:600px;
	margin: 0 auto;
	background:yellow;
	padding:5px;
	border-radius:10px;
	border: 2px solid #2c3e50;
}	
.music{

    width:380px;
	text-align:center;
	border-radius:50%;
}

.myform{
	width:490px;
	margin: 0 auto;
	
}

.inputvalues{
		width:480px;
		margin:0 auto;
		padding:5px;
}

#login_btn{
		margin-top:10px;
		background-color:#27ae60;
		padding:5px;
		color:white;
		width:490px;
		text-align:center;
		font-size:18px;
		font-weight:bold;
}

#register_btn{
		margin-bottom:20px;
		margin-top:10px;
		background-color:#3498db;
		padding:5px;
		color:white;
		width:490px;
		text-align:center;
		font-size:18px;
		font-weight:bold;
}
		#signup_btn{
		margin-top:10px;
		background-color:#3498db;
		padding:5px;
		color:white;
		width:490px;
		text-align:center;
		font-size:18px;
		font-weight:bold;
}
#back_btn{
	margin-bottom: 10px;
		margin-top:10px;
		background-color:#d35400;
		padding:5px;
		color:white;
		width:35%;
		text-align:center;
		font-size:18px;
		font-weight:bold;
}

#logout_btn{
	margin-bottom:15px;
		margin-top:10px;
		background-color:#8e44ad;
		padding:5px;
		color:white;
		width:480px;
		text-align:center;
		font-size:18px;
		font-weight:bold;
}


